@import './component/addTournament/addTournament';
@import './component/editTournament/editTournament';
.tournament-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .add-tournament {
    cursor: pointer;
  }
}

.tournament-item {
  cursor: pointer;
  background-color: #afbfc0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  &:active {
    transform: translateY(1px);
  }

  &-text {
    font-weight: bold;
  }
}
