@import './components/homeComponent';

.tournamentlist {
  // background-color: red;
  //   display: none;
  height: 50vh;
  width: 20vw;
  @include responsive-for(md) {
    width: 90vw;
    height: auto;
  }
}
.middle {
  //   //   width: 60%;
  @include responsive-for(md) {
    width: 90vw;
  }

  .home-card-title {
    @include responsive-for(md) {
      display: flex;
      flex-direction: column;
    }
  }
}

.right {
  @include responsive-for(md) {
    display: none;
  }
}
