.login-container {
  background-color: #cc252c;
  .inner-card {
    height: 100vh;
    // height: 70vh;
    // width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .card-wrapper {
      display: flex;
      @include responsive-for(md) {
        flex-direction: column;
      }
      @include responsive-for(sm) {
        flex-direction: column;
      }
      .inner-card-left-section {
        width: 50%;
        @include responsive-for(md) {
          width: 100%;
        }
        @include responsive-for(sm) {
          width: 100%;
        }
        // background-color: purple;

        .club-image {
          object-fit: cover;
        }
      }
      .inner-card-right-section {
        width: 50%;
        @include responsive-for(md) {
          width: 100%;
        }
        @include responsive-for(sm) {
          width: 100%;
        }
      }
    }
  }
  .login {
    width: 100%;
    margin: 0px auto;
    padding: 50px 0px;

    @include responsive-for(md) {
      width: $default_width;
      margin: 0px auto;
    }

    &-contents {
      padding: 20px 10px;
    }

    &-head {
      font-family: $avertaBold;
      font-size: $heading_one;
      color: $defaulttextcolor;
      margin-bottom: 20px;
    }

    &-fields {
      margin-bottom: 20px;

      &-title {
        font-family: $avertaSemiBold;
        font-size: $text;
        color: $defaulttextcolor;
        padding-bottom: 8px;
      }
    }

    &-forgot {
      cursor: pointer;
      margin-bottom: 20px;
      font-family: $avertaLight;
      font-size: $text;
      color: $primary200;
    }

    &-action {
      width: 100%;
    }

    &-info {
      margin-top: 26px;
      text-align: center;
      font-family: $avertaLight;
      font-size: $text;
      color: $lighttextcolor;

      span {
        cursor: pointer;
        color: $primary200;
        font-family: $avertaLight;
      }
    }

    &-footer {
      border-top: 1px solid $grey300;
      padding-top: 20px;
      margin-top: 26px;
      text-align: center;
      font-family: $avertaLight;
      font-size: $text;
      color: $lighttextcolor;

      span {
        cursor: pointer;
        color: $primary200;
        font-family: $avertaLight;
      }
    }
  }
}
