.user-select-team-wrapper {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .number-of-teams {
      margin-bottom: 20px;
      font-weight: bold;
    }

    .team-selection-container {
      @include responsive-for(md) {
        flex-direction: column;
      }
    }
  }
}
